.AboutUs{
    background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.ImageContainer{
    width: 100%;
    z-index: 0;
    background:linear-gradient(to bottom, transparent 40%, black), url("./royce.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;

    .TextOverlay{
        margin-top: 20%;
        margin-left: 8%;
        position: absolute;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5vw ;
        text-align: center;
        color: white;
        text-shadow: -2px 2px 3px black;
        z-index: 1;
    }
    .Royce{
        opacity: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@mixin titleFont{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vh;
}
@mixin textFont{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.About{
    z-index: 3;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 5% 35% 10% 45% 5%;
    grid-template-rows: 100px 80px auto 100px;
    .AboutTitle{
        @include titleFont;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .AboutText{
        @include textFont;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    .GroupShot{
        margin-top: -50px;
        grid-column-start: 4;
        width: 100%;
        height: auto;
        grid-row-start: 3;
        outline: 2px solid white;
        outline-offset: 10px;
    }
    
}

.UpcomingEventsComponent{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    text-align: center;
    @include titleFont;
}

.TutoringComponent{
    @include titleFont;
    background-color: black;
    display: grid;
    grid-template-columns: 5% 45% 40% 10%;
    grid-template-rows: 100px 80px 80px auto 100px;
    .TutoringTitle{
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .TutoringText{
        @include textFont;
        grid-row-start: 4;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .TutoringImage{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1; 
        grid-column-end: 3;
        margin-left: -10vh;
        width: 90%;
    }
    
}
