
.Gallery{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    white-space:nowrap;
    background-color: black;
    display: flex;
    align-items: center;
    z-index: 0;
}

.Gallery::-webkit-scrollbar {
  display: none;
}

.GalleryImage{
    width: 300px; 
    max-height: 270px;
    margin: 15px;
    opacity: .6;
    transition: all 400ms ease;
    z-index: 0;
}
.GalleryImage:hover{
    opacity: 1;
    transform: scale(1.105);
    z-index: 5;
}
