.UpcomingEvents{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 330px;
    margin-top: 30px;
    white-space:nowrap;
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.UpcomingEvent{
    display:inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    height: 280px;
    width: 200px;
    background-color: black;
    margin: 10px;
    color: black;
    transition: all 400ms ease;
    .UpcomingEventImage{
        width: 200px;
        height: 170px;
        background-color: black;
    }
    .UpcomingEventTextWrapper{
        width: 200px; 
        height: 110px;
        background-color: white;
        margin-top: -3px;
        .UpcomingEventText{
            margin: 15px;
            margin-top: 2px;
            text-align: left;
            .UpcomingEventBigText{
                font-size: 20px;
        }
    }
    }
    
}
.UpcomingEvent:hover{
    transform: scale(1.08);
}