@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.OfficersHeader{
    width: 100%;
    height: 5%;
    /*gradient effect of picture*/
    background:linear-gradient(to bottom, transparent 20%, black), url("./officermain.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*font styling and the animation of text sliding down from top*/
    .OfficersTextOverlay{
        animation: .7s ease-out 0s 1 slideInFromTop;
        margin-top: 15%;
        margin-left: 40%;
        position: absolute;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5vw ;
        text-align: center;
        color: white;
        text-shadow: -2px 2px 3px black;
        z-index: 1;
    }
    /*bg header image formatting*/
    .OfficersHeaderImage{
        object-fit: cover;
        width: 100%;
        height: 50%;
        opacity: 0;
        z-index: 0;
    }
}
/*flexbox wrapper for officer cards*/
.OfficerCards
{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.Officer{
    display:inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    height: 250px;
    width: 250px;
    background-color: black;
    margin: 20px 20px 90px 20px;
    color: whitesmoke;
    .ImageWrapper{
        position:relative;
    }
     /*styling of email text*/
    .BioText{
        position: relative;
        color: white;
        font-size: 11px;
        width:80%;
        margin: 0 auto;
        display:inline-block;
    }
    /*on hover of officer image this will animate/display*/
    .EmailOverlay{
        position:absolute;
        bottom: 100%;
        background-color: #0e0e0e;
        overflow: hidden;
        width: 102%;
        height: 0%;
        transition: .3s ease;
        opacity: .95;
    }
    /*on hover over image, email overlay displayed*/
    .ImageWrapper:hover .EmailOverlay {
        bottom: 0;
        height: 102%;
        width: 102%;
        border-radius: 50%;
        overflow:visible;
        margin-top: 10%;
        background-color: #0e0e0e;
        display:flex;
        align-items:center;
    }
    .Image{
        display:block;
        border-radius: 50%;
        width: 98%;
        height: 98%;
        background-color: white;
    }
    /*styling for officer position and name*/
    .DescriptionWrapper{
        width: 100%;
        height: 25%;
        background-color: none;
        margin-top: -1vw;
        .Description{
            margin: .5vw;
            margin-top: .1vw;
            text-align: center;
            .DescriptionBigText{
                font-size: 20px;
            } /*styling of email text*/
            .EmailText{
                color: white;
                text-decoration: none;
                font-family: monospace;
            }
            /*change color of email text if mouse hovers over*/
            .EmailText:hover{
                color: #5dc3e6;
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@mixin textFont{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: white;
}
@mixin titleFont{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vh;
}
.BodyText{
    @include textFont;
    margin-left: 5%;
}
.TitleFont2{
    @include titleFont;
    margin-left:5%;
    font-size: 40px;
}

