
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.TestBank{
  margin-top: 120px;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.TestBankHeader{
    margin-top:-100px;
    width: 100%;
    background:linear-gradient(to bottom, transparent 40%, black), url("./testbank.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    .TestBankTextOverlay{
        animation: .7s ease-out 0s 1 slideInFromTop;
        margin-top: 15%;
        margin-left: 40%;
        position: absolute;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5vw ;
        text-align: center;
        color: white;
        text-shadow: -2px 2px 3px black;
        z-index: 1;
    }
    .TestBankHeaderImage{
        width: 100%;
        opacity: 0;
        z-index: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@mixin textFont{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: white;
}
@mixin titleFont{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}
.TitleFont{
    @include titleFont;
}

.AboutTestBank{
   margin-top: 100px;
   margin-left: 5%;
   margin-right: 5%;
   @include textFont;
}

.TestViewer{
    margin-top: 70px;
    margin-left: 5%;
}

.SubjectSelect{
    margin-top: 35px;
    width: 95%;
    display: grid;
    grid-template-columns: 3vh 20vh 40vh;
    grid-template-rows: 40px;
    select, :active, :focus{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        color:black;
        padding: 10px;
        outline:none;
    }
    .Select1{
        grid-column-start: 2;
    }
    .Select2{
        grid-column-start: 3;
    }
    .Submit{
        grid-column-start: 4;
        grid-row-start: 1;
        width: 100px;
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.SplitPane{
  width: 90%;
  margin-top: 35px;
  background-color: white;
  color: black;
}

.pdf-container {
  user-select: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110%;
  background-color: rgb(150, 150, 150);
  position: absolute;
  overflow: scroll;
}

@media print {
  .pdf-container {
    display: none;
  }
}
.viewer{
    pointer-events: none;  
}

.page{
  width: 100%;
  color: black;
}